.container
{
    display: flex;
    margin: auto;
    padding: 0%;
    width: 392px;
    height: 650px;
    background-color: rgb(34, 11, 238);
    border-radius: 20px;

}
.innercontainer
{
    display: flex;
    padding: 2px;
    width: 380px;
    height: 600px;
    border: 1px solid black;
    background-color:hsl(0, 0%, 98%);
    border-radius: 20px;
    margin-top: 65px;
    margin-left: 2px;
    position: absolute;
    margin-right: -47px;
    right: 39.4%;

}

h4{
  display: inline;
  color: hsl(0, 0%, 98%);
  padding-top: 20px;
}

h6{   
     color: hwb(50 95% 3%);

}
.win{
    margin : 15px;
    position:relative;
    left: 50%;
}
.search{
margin: 15px;
position: relative;
left: 40%;


}





